<%= form_for(@gig) do |f| %>
  <% if @gig.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gig.errors.count, "error") %> prohibited this gig from being saved:</h2>

      <ul>
      <% @gig.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Hier ganz viele Felder machen, damit mit einem Speichern der Gig komplett fertig angelegt ist.</p>

  <div class="actions">
    <%= f.submit I18n.t("save"), class: "btn btn-primary" %>
  </div>
<% end %>
